* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  /* list-style: none; */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;

}
.bgcxanh {
  background-color: #365486;
}
.cxd {
  color: #365486;
}
.custom-shape-divider-top-1704190116 {
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.custom-shape-divider-top-1704190116 svg {
  position: relative;
  display: block;
  width: calc(157% + 1.3px);
  height: 116px;
}
.try-Button{
  background-color: #3B3486;
}
.try-Button:hover{
  background-color: #365486;
}
.custom-shape-divider-top-1704190116 .shape-fill {
  fill: #ffff;
}
.bgcd {
  background-color: #46474e;
}
.menuCode:hover {
  background-color: #636468;
}
.toggle {
  display: block;
}
.edit-code {
  animation: editCode ease 0.6s;

}
@keyframes editCode {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.nav-menu {
  transition: all 0.3s ease-in-out;
}

.nav-menu:hover {
  position: relative;
  transform: translateY(5px);
}